<script>
var Nav = require("Nav");
</script>
<ul id="navbar" class="w3-navbar w3-black">
  <li id="navitem-takes"><a href="javascript:void(0)" onclick="Nav.primary('takes')"><i class="fa fa-folder-open"></i> Previous Takes</a></li>
  <li id="navitem-take"><a href="javascript:void(0)" onclick="Nav.primary('take')"><i class="fa fa-film"></i> Take</a></li>
  <li id="navitem-reload" style="float: right;"><a href="/"><img src="/images/logo.png" border="0" /></a></li>
</ul>
