<script>
var Takes = require("Takes");
var TakesView = require("TakesView");
var Take = require("Take");
</script>

<div id="takes" class="nav" style="width: 100%; height: 100%;">
	<button id="new-take"><i class="fa fa-film"></i> New Take <i class="fa fa-plus-square"></i></button><br>
  <table id="take-list" border="0" cellpadding="2" cellspacing="0">
  </table>
</div>

<script>
function takeListOpen(takeNum) {
	var take = takes[takeNum].take;
	takeSetCurrent(take);
}

function takeListCopy(takeNum) {
	var take = takes[takeNum].take;
	dialogNewTake(take);
}

function takeListDelete(takeNum) {
	var take = takes[takeNum].take;
	dialogConfirm("Are you sure you want to delete " + take.scene + " - " + take.take + "?", function() {
    Take.deleteTake(take, function() {
      reloadTakes();
      takeSetCurrent(undefined);
    }, function(err) {
      alert("Error deleting take! " + err);
    });
  });
}

function reloadTakes() {
	Takes.getTakes(function(takes) {
		window.takes = takes;
		TakesView.drawTakes(takes, $("#take-list")[0]);
	}, function(err) {
		alert("Error loading takes! " + err);
	});
}

reloadTakes();

$("#navitem-takes").on("click", function() {
	reloadTakes();
});

$("#new-take").on("click", function() {
	dialogNewTake();
});
</script>
