<script>
var Takes = require("Takes");
var TakesView = require("TakesView");
var Take = require("Take");
</script>

<div id="takes" class="nav" style="width: 100%; height: 100%;">
	<button id="new-take"><i class="fa fa-film"></i> New Take <i class="fa fa-plus-square"></i></button><br>
	<ul id="take-list" class="nobullet paned">
	</ul>
</div>

<script>
function takeListOpen(takeNum) {
	var take = takes[takeNum].take;
	takeSetCurrent(take);
}

function takeListCopy(takeNum) {
	var take = takes[takeNum].take;
	dialogNewTake(take);
}

function takeListDelete(takeNum) {
	var take = takes[takeNum].take;
	dialogDeleteTake(take);
}

function reloadTakes() {
	Takes.getTakes(function(takes) {
		window.takes = takes;
		TakesView.drawTakes(takes, $("#take-list")[0]);
	}, function(err) {
		alert("Error loading takes! " + error);
	});
}

reloadTakes();

$("#navitem-takes").on("click", function() {
	reloadTakes();
});

$("#new-take").on("click", function() {
	dialogNewTake();
});
</script>
